@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');;
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/*-- scss:defaults --*/

// fonts
$font-family: 'Cormorant Garamond', cursive;
$font-family-sans-serif: 'Lora', sans-serif;
// colors
$body-bg: white !default;
$body-color: #000 !default;
$link-color: #990000 !default;
$selection-bg: #FF5B00 !default;

// headings
$presentation-heading-font: 'Cormorant Garamond', serif !default;
$presentation-heading-color: #D4AF37 !default;


/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

// title slide

p.author {
	color: #1a292c;
	text-shadow: none;
	font-weight: 200;
	font-size: 20px;
	text-align: center;
	margin-left: 15px;
	margin-bottom: -10px;
	margin-top: 0px;
}

p.date {
	color: #1a292c;
	text-shadow: none;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	margin-left: 15px;
	// margin-bottom: -30px;
}

p.institute {
	color: #1a292c;
	text-shadow: none;
	font-weight: 300;
	font-size: 20px;
	text-align: center;
	margin-left: 15px;
	// margin-bottom: -30px;
}
